.rows{
    color: blue;
    background: lightblue;  
    display: flex;
    justify-content: space-evenly;  
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 10px;
}  
button{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    height: 30px;
    background-color:  black;
    border: solid; 
    border-radius: 7px; 
    border-width: 0px;
}
button:hover{
    background-color:  rgb(90, 89, 90);
    cursor: pointer;
}  
.second{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
} 
